# media
*.png
*.jpg
*.jpeg
*.mp4
*.avi
*.mov

# log folder/files
log
logs
run
runs
checkpoint
checkpoints
dataset
datasets

*.npy
*.pth 
*.yaml
*.yml
*.json

*.ipynb

# cache files
__pycache__

# misc
